# Expo Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000

# Agora Configuration
EXPO_PUBLIC_AGORA_APP_ID=your-agora-app-id

# Razorpay Configuration
EXPO_PUBLIC_RAZORPAY_API_KEY=your-razorpay-api-key 